@{
    ViewData["Title"] = "Actor List";
}

@model List<MovieApp.Models.Actor>

<div>
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-6">Actor List</h1>

        <a asp-action="Create" asp-controller="Actor">Add Actor</a>
    </div>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Count() == 0){
                <tr>
                    <td colspan="100">
                        <p class="text-center text-sm text-secondary">No actors found.</p>
                    </td>
                </tr>
            }
            @foreach(var actor in Model)
            {
                <tr>
                    <th scope="row">@actor.ID</th>
                    <td>@actor.Name</td>
                    <td>@actor.Gender</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Actor" asp-route-id="@actor.ID">Edit</a>
                        <form asp-action="Destroy" asp-controller="Actor" asp-route-id="@actor.ID" class="d-inline-block ms-2">
                            <button type="submit" class="text-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
